html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

body {
    margin: 0px;
    /*    background-color: #272727;*/
    background-image: url(../media/bg.png);
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.header {
    z-index: 100;
    position: inherit;
}

.header h1 {
    font-size: 125px;
    text-align: center;
    color: white;
    font-family: 'Passion One', cursive;
    letter-spacing: 10px;
}

.header small {
    font-size: 100px;
    text-align: center;
    color: white;
    font-family: 'Passion One', cursive;
    letter-spacing: 5px;
}

.section {
    position: relative;
}

.card {
    background-color: #272727;
    position: absolute;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    max-height: 350px;
    max-width: 325.22px;
    border-radius: 5px;
}

.card-1 {
    margin: 200px 450px;
    min-height: 300px;
    min-width: 500px;
}
